In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score

In [9]:
data = pd.read_csv(r"C:\Users\Priya\OneDrive\PYTHON ASSIGMENTS\Salary_Data.csv")

data.head()

   YearsExperience  Age  EducationLevel  JobLevel  Salary
0              1.0   22               1         1   35000
1              1.5   23               1         1   38000
2              2.0   24               1         2   42000
3              2.8   25               2         2   48000
4              3.5   26               2         2   52000

In [10]:
X = data[["YearsExperience", "Age", "EducationLevel", "JobLevel"]]
y = data["Salary"]
# EducationLevel:
# 1 = Diploma, 2 = Bachelor, 3 = Master, 4 = PhD

# JobLevel:
# 1 = Junior, 2 = Associate, 3 = Senior, 4 = Lead, 5 = Manager

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [12]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
model.predict(X_test)

array([105270.,  86110.,  40320.])

In [13]:
predictions = model.predict(X_test)
print("MAE:", mean_absolute_error(y_test, predictions))
print("R2 Score:", r2_score(y_test, predictions))

MAE: 4646.666666666667
R2 Score: 0.9781853922651934

In [14]:
new_employee = pd.DataFrame(
    [[5, 30, 3, 3]],
    columns=["YearsExperience", "Age", "EducationLevel", "JobLevel"]
)

model.predict(new_employee)

array([68220.])